<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>05_KPS_Iv-Chanarun_SpringBoot_HW2</title>
</head>
<body>
<div class="container">
<div th:replace="Fragment/Fragment.html :: header">
</div>
<button type="button" class="btn btn-primary mt-5 mb-2">Write Article</button>
    <select id="locales" style="margin: auto">
        <option value="">Choose Your Languages</option>
        <option value="en" th:text="#{lang.eng}"></option>
        <option value="kr" th:text="#{lang.kr}"></option>
        <option value="kh" th:text="#{lang.kh}"></option>
    </select>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Image</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Spring</td>
            <td style="width: 600px">Spring makes programming java quicker, easier, and safer for everybody. Spring's focus on speed, simplicity, and productivity has made it the world's most popular java framework</td>
            <td><img  style="width: 150px" src="spring.png"></td>
            <td>
                <button type="button" class="btn btn-outline-success">View</button>
                <button type="button" class="btn btn-outline-warning">Edit</button>
                <button type="button" class="btn btn-outline-danger">Delete</button>
            </td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Docker</td>
            <td>Docker takes away repectitive, mundane configuration tasks and i used throughout the development lifecycle for fast, easy and portable application development -  desktop and cloud. Docker's compregensive end to end plaform includes UIs, CLis, APIs and security that are enginnered to work together across the entire application delivery lifecycle.</td>
            <td><img style="width: 150px" src="docker.png"></td>
            <td>
                <button type="button" class="btn btn-outline-success">View</button>
                <button type="button" class="btn btn-outline-warning">Edit</button>
                <button type="button" class="btn btn-outline-danger">Delete</button>
            </td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Linux</td>
            <td>Linux is a family of open-source Unix-like operating system based on the Linux Kernel, an oprating system kernet first released on September 17, 1991, by Linus Torvalds. Linux is typically packaged in a Linux distribution.</td>
            <td><img style="width: 150px" src="linux.png"></td>
            <td>
                <button type="button" class="btn btn-outline-success">View</button>
                <button type="button" class="btn btn-outline-warning">Edit</button>
                <button type="button" class="btn btn-outline-danger">Delete</button>
            </td>
        </tr>
        </tbody>
    </table>

<div th:unless="${#lists.isEmpty(Subject)}">

    <div th:each="subjectlists :${Subject}">
        <h4 th:text="${subjectlists.id}"></h4>
        <p th:text="${subjectlists.name}"></p>
        <p th:text="${subjectlists.description}"> </p>
    </div>
</div>
</div>
</body>
</html>